<% include partials/header%>
<div class="container-fluid">
    <div class="card mb-3 bg-secondary" style="max-width: 18rem;"><h4 class="text-white text-center">KNOWLEDGE IS FREE</h4></div>
    <% for(i=0;i<courseData.length;i++){%>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <img class="card-img-top" src="/images/hero.png" alt="Card image cap">
        <div class="card-header text-center"><a href=<%= courseData[i].url %> class="card-link text-info" target="_"><%= courseData[i].title %></a></div>
    </div>
    <%}%>
</div>
<% include partials/footer%>