<% include partials/header%>
        <div class="hero">
          <img src="/images/hero.png">
          <h4 class="quote">Purpose is what creates true happiness</h4>
          <div class="sigin-button">
            <button class="btn btn-warning buttons">Signin</button>
          </div>
          <div class="signup-button">
            <button class="btn btn-warning buttons">Signup</button>
          </div>
        </div>

        <div class="program">
          <h2>We Provide</h2>
        </div>

<% include partials/footer%>