<% include partials/header%>
      <div class="container-fluid">
      <div class="row">      
        <h2 class="mt-3 future">Imagine your future</h2>

        <p class="wanna-learn mt-3">What do you want to learn ?</p>
      </div>
      </div>
<% include partials/footer%>