@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  font-family: 'Roboto';
}

body{
  background-color: #f5f5f5;
  font-family: 'Roboto';
}

a{
  color: white;
  text-transform: none;
}

a:active{
  color: #aaa;
}
nav{
  height: 50px;
  background-color: #283058;
}
.margin-header{
  margin-top: 50px;
}

nav .menu-bar-container{
  width: 50px;
  height: 50px;
  margin-left: 10px;
  /* border:1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 12px;
  transition: all 0.5s ease-in-out;
}
nav .menu-bar-container span{
  width: 100%;
  height: 10%;
  color: white;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
 .active span:nth-child(1){
  transform-origin: top left;
  transform: rotate(45deg);

}
.active span:nth-child(2){
  opacity: 0;

}
 .active span:nth-child(3){
  transform-origin: bottom left;
   transform: rotate(315deg);
   
}
.menu-content{
  display: none;  
}
.active .menu-content{
width: 100%;
display: flex;
/* border:1px solid red; */
position: absolute;
z-index: 99999999;
background-color: #283058;  
flex-direction: column;
align-items: center;
}
.active .menu-content ul{
  /* border:1px solid red; */
  padding-left: 0px !important; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.active .menu-content ul li{
  padding: 10px;

  /* flex: 1; */
  width: 100%;
  list-style-type: none;
  /* border: 1px solid green; */
}

 .menu-content ul li a{
   display: block;
width: 100%;
  padding: 10px;
}


.active .menu-content ul li.active{
  background-color: #171a2c;
}

.menu-container{

  display: flex;
}
.menu-container .title{
  flex:1;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  align-items: center;
  padding-left: 20px;
  color: white; 
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  /* margin-left: -30px; */
}







.navbar{
  height: 7%;
}

.main-topic{
  color: #ffff;
  margin-left: -40%;
}
.home-container{
  overflow-x:hidden;
}

.hero{
  height: 40vh;
  background-image: url('../images/hero.png');
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.hero .overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
    display: flex;
  align-items: center;
  justify-content: center;
  /* border:2px solid green; */
  flex-direction: column;   
}

  /* .hero img {
    width: 100% !important;
    position: absolute;
  } */

 .quote {
    text-align: center;
    color: white;
    font-weight: bold;
}
.hero .buttons-container{
  /* border: 2px solid black; */
  display: flex;
  width: 50%;
  justify-content: space-around;

}
.hero-margin{
  margin-top: 50px;
}
/*

.sigin-button {
  position: relative;
  left: 59px;
  top: 107px;
  z-index: 99999;
}

.signup-button {
  position: relative;
  left: 178px;
  top: 61px;
  z-index: 99999;
} */

.buttons{
  height: 45px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: #171a2c;
  padding: 10px 15px;
}

.fa-bars{
  color: #ffff;
}

/* Program */ 

.program{

  background-color: #171a2c;
  height: 14vh;
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Roboto';
}

/* Mentorship */

.mentorship{
  background-color: #F4F4E6;
  height: 62vh;
}

.mentorship h4{
  font-size: 40px;
  color: #000;
  font-weight: bold;
}

.cover img{
  height: 250px;
}

.cover p{
  color: #000;
}

/* Bootcamps */

.bootcamp{
  background-color: #EEF2F6;
  height: 60vh;
}

.bootcamp h4{
  font-size: 40px;
  color: #000;
  font-weight: bold;
}


/* Roadmap */
.future{
  width: 100%;
  margin-left: 45px;
  color: #02b3e4;
}

.wanna-learn{
  margin-left: 80px;
  font-weight: bold;
}

/* profile */
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
.card{
  border: 1px solid #f5f5f5;
  /* min-height: 300px; */
  /* border :1px solid red; */
  font-family: 'Roboto';
  margin:20px 20px;
  background-color: white;
  display: flex;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);


}
.card .image{
  width: 100%;
  height: 100%;
  flex:3;
  /* border:1px solid red; */
}
.card .image img{
  width: 100%;
}
.card .content-container{
  width: 100%;
  text-align: left;
}

.card .content-container .heading{
  color:black !important;
  /* border:1px solid red; */
  padding: 10px;
  font-size: 20px;
}

.card .content-container .header{
  color:black !important;
  /* border:1px solid red; */
  padding: 10px;
  font-size: 40px;
  font-weight:bold;
  /* font-size: 20px; */
}

.card .content-container .content{
  color:black !important;
  /* border:1px solid red; */
  padding: 10px;
  font-size: 15px;
}
.card .btn-container{
  display: flex;
}
.card .btn-container .button{
  width: 50%;
  height: 50px;
  text-transform: uppercase;
  background-color: #283058;
  color: white;
  border: none;
  outline: none;
}

.card .btn-container .button:active{
  background-color: white;
  color: #000;
}

.dashboard-container{
  margin-top: 80px;
}

.search-form{
  display: flex;
}
input{
  flex:4;
  border: none;
  outline: none;
  border-radius: 20px 0px 0px 20px;
  padding-left: 10px;
}
.search-button-container{
  /* border:1px solid red; */
  flex:1;
}

.search-button-container>button{
  background-color: #283058;
  width: 100%;
  border-radius: 0px 20px 20px 0px;
  color:white;
  border:none;
  outline: none;
}

.search-button-container>button:active{
  background-color: white;
  color:black;
}

