.navbar{
  height: 7%;
}

.main-topic{
  color: #ffff;
  width: 75%;
}

.hero{
  height: 28vh;
}

.hero img {
  width: 100% !important;
  position: absolute;
}

.quote {
  position: relative;
  left: 23px;
  top: 106px;
  color: #ffff;
}

.sigin-button {
  position: relative;
  left: 59px;
  top: 107px;
  z-index: 99999;
}

.signup-button {
  position: relative;
  left: 178px;
  top: 61px;
  z-index: 99999;
}

.buttons{
  height: 45px;
}

.fa-bars{
  color: #ffff;
}

/* Program */

.program{
  background-color: #fdcb6e;
  height: 14vh;
  padding-top: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
}
