.navbar{
  height: 7%;
}

.main-topic{
  color: #ffff;
  margin-left: -40%;
}

.hero{
  height: 28vh;
}

.hero img {
  width: 100% !important;
  position: absolute;
}

.quote {
  position: relative;
  left: 23px;
  top: 106px;
  color: #ffff;
}

.sigin-button {
  position: relative;
  left: 59px;
  top: 107px;
  z-index: 99999;
}

.signup-button {
  position: relative;
  left: 178px;
  top: 61px;
  z-index: 99999;
}

.buttons{
  height: 45px;
}

.fa-bars{
  color: #ffff;
}

/* Program */

.program{
  background-color: #fdcb6e;
  height: 14vh;
  padding-top: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
}

/* Mentorship */

.mentorship{
  background-color: #F4F4E6;
  height: 62vh;
}

.mentorship h4{
  font-size: 40px;
  color: #000;
  font-weight: bold;
}

.cover img{
  height: 250px;
}

.cover p{
  color: #000;
}

/* Bootcamps */

.bootcamp{
  background-color: #EEF2F6;
  height: 60vh;
}

.bootcamp h4{
  font-size: 40px;
  color: #000;
  font-weight: bold;
}


/* Roadmap */
.future{
  width: 100%;
  margin-left: 45px;
  color: #02b3e4;
}

.wanna-learn{
  margin-left: 80px;
  font-weight: bold;
}

/* profile */
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}